
/* Global Styles

body {
    margin-top: 100px;
    background-color: #222;
} 
.space{
margin-top:100px;
color:white;
}
*/
#help-login-email{
	color:blue;
	background-color:#d6f0ff;
}
/*#login-username{
//	background-color:#d6f0ff;
//}
#login-password{
	background-color:#d6f0ff;
} */
body.login-page{ 
 background: url('../images/login.jpg') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
.panel-bd{
	background-color:#a96a95;
}
#wrapper {
    padding-left: 0;
}
.myclass{
	width: 110%;
	overflow-x: hidden;
	
}
@media (min-width: 768px) {
  .myclass {
    width: 1299px;
  }
#page-wrapper {
    width: 500px;
    padding: 0;
    background-color:#ffffff ;
	min-height: 580px;
	margin: 0 auto;
}

#heading{
	background-color:#e55fad;
}

textarea {
	resize:none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.actions {
	
	background-color: white; 
	color: black; 
	height: 220px; 
	border: 1px solid  #d9d9d9;
   
}

.button {
	
	width: 100%;
	background-color: #f2f2f2;
}
.recent {
	background-color: white;
	 color: black; 
	 margin-bottom: 5px;
	  margin-left: -10px; 
	  border: 1px solid  #d9d9d9;
	
}
.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

#nav-title{
	font-family:TimesNewRoman;
	color:white;
	margin-left:550px;
}

#dash-title{
	font-family:TimesNewRoman;
	color:green;
	margin-left:700px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: none!important;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
.text-message{
	color:purple;
	
}
.side-nav>li {
    cursor:pointer;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 70px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}
.panel-body{
	background-color: white;
}

.panel-purple {
    border-color: #8c489f;
}

.panel-purple > .panel-heading {
    border-color: #8c489f;
    color: #fff;
    background-color: #8c489f;
}

.panel-purple > a {
    color: #8c489f;
}

.panel-purple > a:hover {
    color: #CC99CC;
}

.panel-footer {
	color:white;
	background-color: #0099cc;
}
.panel-bg1 {
    border-color: #e55934;
}

.panel-bg1 > .panel-heading {
    border-color: #e55934;
    color: #fff;
    background-color: #e55934;
}

.panel-bg1 > a {
    color: #e55934;
}

.panel-bg2 {
    border-color: #fa7921;
}

.panel-bg2 > .panel-heading {
    border-color: #fa7921;
    color: #fff;
    background-color: #fa7921;
}

.panel-bg2 > a {
    color: #fa7921;
}
.panel-bg3 {
    border-color: #5bc0eb;
}

.panel-bg3 > .panel-heading {
    border-color: #5bc0eb;
    color: #fff;
    background-color: #5bc0eb;
}

.panel-bg3 > a {
    color: #5bc0eb;
}
.panel-bg4 {
    border-color: #d9534f;
}

.panel-bg4 > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-bg4 > a {
    color: #d9534f;
}

.panel-bg5 {
    border-color: #8c489f;
}

.panel-bg5 > .panel-heading {
    border-color: #8c489f;
    color: #fff;
    background-color: #8c489f;
}

.panel-bg5 > a {
    color: #8c489f;
}

.panel-bg6 {
    border-color: #02c39a;
}

.panel-bg6 > .panel-heading {
    border-color: #02c39a;
    color: #fff;
    background-color: #02c39a;
}

.panel-bg6 > a {
    color: #02c39a;
}





.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
@media (max-width:767px){
	
	.navbar-inverse{height:100px!important;}

	
}

@media (max-width:360px){
	
	.navbar-brand{width:248px!important}
	
}
a,a:focus,a:active{outline:none}
.navbar-inverse{background:url(../images/header-bg.png) repeat-x #3399CC;  border-bottom:none;  height: 70px;}
.side-nav{background:#3399CC;}
.side-nav > li > a{color:#fff!important}
.nav > li.active > a{background:#66CCFF!important;}
.nav > li >a:hover,.nav > li >a:focus,.nav > li >a:visited,.nav > li >a:active{background:none!important;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background:none!important;}
.side-nav > li > ul > li > a{color:#fff}
.side-nav > li > ul > li > a:hover{background:none!important;}
.navbar-brand {padding: 0 10px;width: 310px;}
.navbar-brand  img{width:100%;}
.pa-head{font-size:18px;}
.navbar-inverse .navbar-toggle{border:1px solid #fff}
.breadcrumb li a,.breadcrumb li a:hover{color:#3B9CCD;text-decoration:none;}

/*
.panel-group .panel{border-radius:0}
.panel-default > .panel-heading{background:#3B9CCD;border-radius:0}

.panel-title{font-size:14px;font-weight:bold;color:#fff}
.panel-title a{display:block;position:relative}
.panel-title a:hover,.panel-title a:focus{text-decoration:none;}
.panel-title a span{display:inline-block;position:absolute;right:0px;top:0px}
.panel-title a span i{font-size:24px;line-height:14px;}
.panel-title a.collapsed span.up-arrow{display:none;}
.panel-title a span.up-arrow{display:block;}
.panel-title a.collapsed span.down-arrow{display:block;}
.panel-title a span.down-arrow{display:none;}
*/
.panel-default > .panel-heading{background:#3B9CCD;border-radius:0}

.bdr-right{border-right:1px solid #e2e2e2;}
.title{margin:0 0 10px;font-size:14px;font-weight:bold;color:#666}
.row.eq-height{display:flex}
.form-group{margin-bottom:10px;}
.form-group label { color: #3b3b3b;   font-size: 12px;}
.form-control{border-radius:0;border:1px solid #ccc}
.btn{margin-right:10px;border-radius:0;padding:7px 20px;font-weight:bold;margin-top:10px;}
.btn.primary,.btn.primary:hover{background:#A31E39;color:#fff;}
.btn.secondary{background:#D6E4E1;}
hr {
    background: #ccc none repeat scroll 0 0 !important;
    border: medium none;
    height: 1px;
}
.form-group p{margin-bottom:0;color:#333}

.auto-style2 {
            width: 195px;
            height: 56px;
        }

        .auto-style3 {
            width: 195px;
            height: 49px;
        }

        .auto-style5 {
            width: 250px;
            height: 112px;
        }

        .auto-style6 {
            width: 250px;
            height: 72px;
        }

        .auto-style7 {
            height: 49px;
            width: 106px;
        }

        .auto-style8 {
            height: 49px;
            width: 250px;
        }

        .auto-style9 {
            width: 176px;
        }

        .auto-style10 {
            width: 250px;
        }

        .auto-style11 {
            width: 103px;
        }

        .dropdown-toggle {
            width: 200px;
        }

        .auto-style12 {
            width: 113px;
        }
        


.Tablestyles {
border: 1px solid #d9d9d9; 
padding-top: 5px;

}
.Tablestyles1 {
	
	border: 1px solid #d9d9d9;
}
.padding {
	
    padding-top: 5px;
}

.padding1 {
	
	padding-bottom: 30px;
}

.padding2{
	 padding-top: 50px; 
	 float: left;
}
        
  #tab { display:inline-block; 
       margin-left: 400px; }
       
   #tabb { display:inline-block; 
       margin-left: 200px; }
       
       .headline h1 {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;    
}
.headline p {
    display: inline;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 20px;    
}
.headline h1 {
    font-weight: bold;
}

input.ng-invalid.ng-dirty {
	border: solid 1px red;
}
input.ng-valid.ng-dirty {
	border: solid 1px green;
}

textarea.ng-invalid.ng-dirty {
	border: solid 1px red;
}
textarea.ng-valid.ng-dirty {
	border: solid 1px green;
}
/*
textarea.ng-invalid {
	border: solid 1px red;
}
textarea.ng-valid {
	border: solid 1px green;
}
*/
#page-wrapper {
    width: 100%;
    padding: 0;
    background-color:#ffffff ;
	min-height: 900px;
}

.round2 {
    border: 2px solid #cccccc;
    border-radius: 8px;
}

.b {
    border-top: 60px solid #000000;
    border-bottom: 60px solid #00000;
    border-left: 60px solid black;
    width: 0;
    height: 40px;
}
.white {
  color: #e6e6e6;
}

#heading{
	background-color:#e55fad;
}