<div class="myclass">
<div id="page-wrapper">
    <div class="row">
     
		  <div class ="col-lg-12">
				      <div class = "col-lg-12   round2">
				            <div class = "col-lg-3 col-sm-offset-1">
				                  <p><b>Allergies</b></p>
				            </div>
					       <button class = "col-lg-3 round2" style= "background-color:#cccccc;">
					              <p>Add  <span class="glyphicon glyphicon-plus"></span></p>
					       </button>
					       <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Collapse All </p>
					       </button>
					        <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Send </p>
					       </button>
   
    
                      </div>
          </div>
    </div>	
   
   <div class=""></br>
             </br>
    </div>    
     <div class ="col-lg-12">
  <table class="table">
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Allegran</th>
        <th>Reaction</th>
        <th>Source</th>
         <th>Options</th>
           
      </tr>
    </thead>
    <tbody>
   <tr>
        <td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="acc.allergyinfo.id" />
							</div></td> 
        <td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="acc.allergyinfo.allergyDescription" />
							</div></td>
        <td><div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="acc.allergyinfo.allergyRemarks" />
							</div></td>
        <td> </td>
       
        <td><button type="button" class="btn btn-primary btn-xs">edit</button>
        <button type="button" class="btn btn-primary btn-xs glyphicon glyphicon-remove">Remove</button>
        </td> 
        
      </tr>
      
    </tbody>
  </table>
</div>
   
   
   
  
  





   
    
  
        
        
</div>
</div>
    