 <div class="myclass"> 
<div id="page-wrapper">

	<div class="container-fluid" >
           <div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Home</h1>
					<ol class="breadcrumb">
						<li><a href="http://localhost:8080/index.html#/navigation"> <i class="fa fa-home" aria-hidden="true"></i>
								Home
						</a></li>
						<li class="active"><i class="fa fa-user"></i>HOME </li>
						
						<div class ="col-lg-8" style = "float: right;">
						<div class="col-xs-4 col-md-4" style="padding-left: 0px;padding-right: 0px; border-right: 1px solid #000000;">Schedule an Appointment</div>
              <div class="col-xs-2 col-md-2" style="padding-left: 0px;padding-right: 0px;">
                   <p style = "  border-right: 1px solid #000000;"><span class="glyphicon glyphicon-user"></span> 	&nbsp;Hello </p>
              </div>
                 
              <div class="col-xs-1 col-md-1" style="padding-left: 0px;padding-right: 0px;">                
                    <p><span class="glyphicon glyphicon-search"></span></p>
              </div> 
					</ol>
				</div>
				
			</div>
        
       <div class= "row">
       <div class ="col-lg-6" style = "float: right;">
         <!--  <div class ="col-lg-12" style = "float: right;">
              <div class="col-xs-4 col-md-4" style="padding-left: 0px;padding-right: 0px; border-right: 1px solid #000000;">Schedule an Appointment</div>
              <div class="col-xs-2 col-md-2" style="padding-left: 0px;padding-right: 0px;">
                   <p style = "  border-right: 1px solid #000000;"><span class="glyphicon glyphicon-user"></span> 	&nbsp;Hello </p>
              </div>
              <div class="col-xs-3 col-md-3" style="padding-left: 0px;padding-right: 0px;">
              <select>
                  <option value="volvo">My Account</option>
				  <option value="saab">Settings</option>
				  <option value="mercedes">Privacy</option>
				  <option value="audi">Payment</option>
              </select>
              </div>
                
              <div class="col-xs-2 col-md-2" style="padding-left: 0px;padding-right: 0px;">
               <select>
                  <option value="volvo">English</option>
				  <option value="mercedes">Hindi</option>
              </select>
              </div>    
              <div class="col-xs-1 col-md-1" style="padding-left: 0px;padding-right: 0px;">                
                    <p><span class="glyphicon glyphicon-search"></span></p>
              </div> 
       
       </div>
       </div>
       </div>
       
       
        <div class= "row">
        <div class ="col-sm-6" style = "float: right;">
          <div class ="col-lg-12" style = "float: right;">
	      <p><font color="red" size="2"> If you have a medical emergency call 911 or go to nearest emergency room</font> </p>
	
	      </div>
	    -->

			  
			  </div>
	   </div>
	   
	   
	 <hr>
	 
		<div class = "row">
		<div class ="col-lg-12">
		     <div class ="col-lg-7 col-sm-offset-1  round2">
		     <div class ="row">
               <div class ="col-lg-3">
                        <div class = "row">
                        <div class ="col-lg-12"  style= "height:120 px;padding-top: 5px;">
                            <p><span class="glyphicon glyphicon-user  glyp white"></span></p>
                        </div>
                        </div>
               </div>
               
               <div class="col-lg-4" style = "padding-left: 100px;">
               
                   <div class = "row"><h3><b> Health Summary</b></h3> </div> 
                   <br>
                   
                 <!--   <div class = "row"><p>Age:{{home.patientinfo.age}}</p> </div> -->
                   <div class = "row"><p>Age:</p> </div>
                   <div class = "row"><p>Height:</p> </div>
                   <div class = "row"><p>Weight:</p> </div>
                   <div class = "row"><p>Blood Pressure:</p> </div>               
                   <div class = "row"><p>Primary Insurance:</p> </div>
                   <div class = "row"><p>Preferred Pharmacy:</p> </div>
                   
               </div>
		       </div>
		       <div class ="row">
		           <div class = "col-lg-12" >
		                <div class = "col-lg-4">
		                  <h3><b>Action Center</b></h3>
		                </div>
		           <div class = "col-lg-2 col-sm-offset-6">
		              <h3><span class="glyphicon glyphicon-calendar"></span></h3>
		           </div>
		           </div>
		         <div class ="row">
		         <div class = "col-lg-12" style="padding-left:45px;">
		           <h5>You haven't completed the first time walk through <span class="glyphicon glyphicon-warning-sign"></span></h5>
		          </div>
		         </div>
		       </div>	
		       </div>
		          <div class ="col-lg-3 round2" style= "height:500px;">
		           <h4>hello</h4>
		          </div>
	
		</div>
		  <div class ="row">
		  <div class ="col-lg-12">
				      <div class = "col-lg-7  col-sm-offset-1 round2">
				            <div class = "col-lg-3 col-sm-offset-1">
				                  <p><b>App Center</b></p>
				            </div>
					       <div class = "col-lg-3 col-sm-offset-4 round2" style= "background-color:#cccccc;">
					              <p>Add Applications <span class="glyphicon glyphicon-plus"></span></p>
					       </div>
				        </div>
		  </div>	
			</div>
			</div>
	</div>
	</div>
	</div> 