<div id="page-wrapper">

	<div class="container-fluid">
		
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Insurance Information</h1>
				<ol class="breadcrumb">
					<li><a href="#"> <i class="fa fa-plus-square" aria-hidden="true"></i>
							 Primary Insurance
					</a></li>
					
				</ol>
			</div>
		</div>
		
		<!-- /.row -->

		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="Basic Policy Information" is-open="false">
				<div class="panel-body">
				</br>
					<div class="row">
					
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Insurance Name</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.insuranceProviderName" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Employer Name</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.employerName" />
						</div>
						
						</div>
						
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">City</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderAddress" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">City</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.employerAddress" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">State</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderState" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">State</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.employerState" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Zip</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderZip" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Zip</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.employerZip" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Policy Number</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyNumber" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Effective Date</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyeffectiveDate" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Group Number</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.groupNumber" />
						</div>
						
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Co-Pay</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.coPay" />
						</div>
						
						</div>
						
						</div>
						
						
					</div>
				</div>
			<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="Policy Holder" is-open="false">
				<div class="panel-body">
				</br>
			<div class="row">
					
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Name</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderName" />
						</div>
			
			           </div>
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">Street</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderAddress" />
						</div>
			
			           </div>
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">Date of Birth</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderDob" />
						</div>
			
			           </div>
			           
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">City</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderAddress" />
						</div>
			
			           </div>
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">Relation</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderRelation" />
						</div>
			
			           </div>
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">State</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderState" />
						</div>
			
			           </div>
			           <div class="col-lg-6">
							<div class="form-group">
								<label for="">zip</label> <input type="text"
									class="text-capitalize form-control" name="firstName" required
									ng-model="inc.insurance[0].policyinformationDto.policyHolderZip" />
						</div>
			
			           </div>
			          
			
			</div>
			</div>
			
		</div>
		<div >
		<button ng-click="nav.gotoinbox();"><i class="fa fa-fw fa-envelope" ></i>Inbox</button>
</div>
</div>

