<div class="container" style="background-image: url('images/bg.jpg');">
<div class="row">
<div class="col-md-4 col-md-offset-4">
	<img src="images/logo.png" alt="" class="responsive" />
	
<!-- <div ng-controller="AlertController">
		<script type="text/ng-template" id="alert.html">
		<div class="alert alert-danger" role="alert">
			<strong>Incorrect</strong> UserName/Password try again.
		</div>
  		</script>
	</div>
-->	
	<div class="panel panel-primary">
		<div class="panel-heading" align="center">
			<strong>Login</strong>
		</div>
		<div class="panel-body"></br>
		<div ng-if="login.error" class="text-message" align="center">{{ login.errorMessage }}</div>
		</br>
			<form class="form-horizontal" role="form" >
				<div class="form-group" >
					<label for="inputEmail3" class="col-sm-3 control-label"  >
						<strong>UserName</strong></label>
					<div class="col-sm-9">
						<input class="form-control" id="login-username" placeholder="Username"
							required="" type="text" ng-model="login.loginDetails.userName" >
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-3 control-label" >
						<strong>Password</strong> </label>
					<div class="col-sm-9">
						<input class="form-control" id="login-password"
							placeholder="Password" required="" type="password"
							ng-model="login.loginDetails.password" >
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<div class="checkbox">
							<label> <input type="checkbox"> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group last">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-primary btn-sm"
							ng-click="login.loginUser()">Sign in</button>
						<button type="reset" class="btn btn-danger btn-sm" >
							Reset</button>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer" align="center">
			Need Help? <a style="color:white" href="#" ui-sref="loginhelp">Click here</a>
		</div>
		<div>
	</div>
</div>
</div>
</div>