<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Forgot Username / Password</strong>
				</div>
				<div class="panel-body">
					
					<h5>Follow these simple steps to reset.</h5>
					<ol>
						<li>Enter your Username or email address</li>
						<li>Wait for your recovery details to be sent to registered email address</li>
						<li>Follow the instructions in the email to reset username or password</li>
					</ol>
					<div class="form-group">
					<h4> Select Username / Password ?</h4>
					
				&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="username/passowrd" value="username" checked> &nbsp;&nbsp;Username </br>
				&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="username/passowrd" value="username"> &nbsp;&nbsp;Password </br></br>
					
						<label for="email">Username or Email</label> <input type="text"
							placeholder="Username or Email" class="form-control" id="help-login-email"  id="username"/>
					</div>
					<button class="btn btn-primary ">Submit</button>
					<a ui-sref="home"><button class="btn btn-warning">Cancel</button></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">Other help topics goes here...</div>
	</div>
</div>