<div class="myclass"> 

<div id="page-wrapper">

	<div class="container-fluid">
<div class="row">
				<div class="col-lg-12">
					 <h1 class="page-header">Medication</h1>
					<ol class="breadcrumb">
						<li><a href=""> <i class="fa fa-medikit" aria-hidden="true"></i>
							preferred Pharmacy:CVS Pharmacy,Beck Road,MI-48393
						</a></li>
						
					</ol>
				</div>
				</div>
				
	<div class="row">
     
		  <div class ="col-lg-12">
				      <div class = "col-lg-12   round2">
				            <div class = "col-lg-3 col-sm-offset-1">
				                  <p><b>Medication</b></p>
				            </div>
					       <button class = "col-lg-3 round2" style= "background-color:#cccccc;">
					              <p>Add  <span class="glyphicon glyphicon-plus"></span></p>
					       </button>
					       <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Collapse All </p>
					       </button>
					        <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Send </p>
					       </button>
   
    
                      </div>
          </div>
    </div>				
				
	 <div class=""></br>
             </br>
    </div>			
				
	
	<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Direction</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Status</th>
        <th>Type</th>
        <th>Prescribed Date</th>
        <th>Physician</th>
         
           
      </tr>
    </thead>
    <tbody>
   <tr>
        <td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationName" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationDescription" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationDirections" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationStartDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationEndDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationStatus" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.medicationType" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.prescribedDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="mc.medicationinfo.physicianId" />
							</div></td>
							
		
    
	</table>
	
		
				
				
				
				
				
				
</div>
</div>
</div>
				