<div class="myclass"> 
<div id="page-wrapper">
 <div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">My Health</h1>
					<ol class="breadcrumb">
						<li><a href="#"> <i class="fa fa-user-md" aria-hidden="true"></i>
							Health Summary
						</a></li>
						
					</ol>
				</div>
			</div>
			<div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                
                <li><a href=""><i class=""></i>Summary 1</a></li>
                <li><a href=""><i class=""></i>Conditions</a></li>
                
                <li><a ng-click="nav.gotoallergies();"><i class=""></i>Allergies</a></li>
                <li><a href=""><i class=""></i>Immunization</a></li>
                <li><a ng-click="nav.gotoresults();"><i class=""></i>Results</a></li>
                <li><a href=""><i class=""></i>vitals</a></li>
                <li><a href=""><i class=""></i>Documents</a></li>
                <li><a href=""><i class=""></i>charts</a></li>
            </ul>
        </div>
       
           
        </div>
    </div>
        
	</div>
	</div>