	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			
		
				<button type="button" class="navbar-toggle" ng-click="nav.navbarCollapsed = !nav.navbarCollapsed">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				 <a class="navbar-brand" href="http://localhost:8080/index.html#/navigation"><img
					src="images/logo.png" alt="Patient Portal Logo" /></a>  
					<h2 id="nav-title"><b><i class="fa fa-heartbeat"></i>PatientPortal</b></h2>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" ng-click="nav.userbarCollapsed = !nav.userbarCollapsed">
						<i class="fa fa-user"></i><span class="text-capitalize"> {{nav.firstname}}&nbsp;&nbsp;{{nav.lastname}}</span> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" uib-collapse="nav.userbarCollapsed">
						<li><a ng-click="nav.gotoprofile();"><i class="fa fa-fw fa-user"></i> Profile</a></li>
						<li class="divider"></li>
						<li><a ng-click="nav.gotoinbox();"><i class="fa fa-fw fa-envelope"></i>Inbox</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-power-off"></i> LogOut</a></li>
					</ul>
				</li>
			</ul>
			
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse" uib-collapse="nav.navbarCollapsed">
				<ul class="nav navbar-nav side-nav">
					<li><a ng-click="nav.gotohome();"><i class="fa fa-home"> HOME  </i></a></li>
                 
                 
					 
				  <li><a ng-click="nav.gotoschedule();"><i class="fa  fa-hospital-o"> SCHEDULE APPOINTMENT </i></a></li>
				
	              <li><a ng-click="nav.gotoMyHealth();"><i class="fa  fa-heartbeat"> HEALTH INFORMATION </i></a></li>
	              
	              <li><a ng-click="nav.gotodocument();"><i class="fa fa-file"> DOCUMENTS </i></a></li>
	              	 
	              <li><a ng-click="nav.gotoinsuranceinfo();"><i class="fa fa-plus-square"> INSURANCE  </i></a></li>
	              	 	 
	              <li><a ng-click="nav.gotomedication();"><i class="fa fa fa-medkit"> MEDICATION </i></a></li>
	             
	              
					<!-- 	<ul class="sub-menu">
							<li><a ng-click="nav.gotoPersonalInfo();"><i
							class="fa fa-chevron-circle-right"></i> Employee Information</a></li>
							<li><a ng-click="nav.gotoEmployeeInfo();"><i
							class="fa fa-building-o"></i> Project Information</a></li>
						</ul> -->
					
			<!-- 		<li><a ng-click="nav.gototimesheetdash();"><i
							class="fa fa-fw fa-table"></i> Timesheets</a></li>
					<li><a ng-click="nav.gotoExpenses();"><i class="fa fa-money" aria-hidden="true"></i>
							Expenses</a></li>
					<li><a ng-click="nav.gotoForms();"><i class="fa fa-wpforms"
							aria-hidden="true"></i> Forms</a></li>
					<li><a ng-click="nav.gotoInbox();"><i class="fa fa-inbox" aria-hidden="true"></i>
							Inbox</a></li>
							 <li class="show-menu"><a href=""><i class="fa fa-chevron-circle-right"> Training Information </i></a>
					  -->
				<!-- 		<ul class="sub-menu">
							<li><a ng-click="nav.gotoTrainingInfo();"><i
							class="fa fa-certificate"></i> Course Information</a></li>
							<li><a ng-click="nav.gotoBrowsingInfo();"><i
							class="fa fa-search"></i> Browsing For Training</a></li> -->
						</ul>
					</li>
	

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div class="container pull-left">
			<div class="row">
				<div ui-view="navigation"></div>
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
