
<div id="wrapper">
<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			
		
				<button type="button" class="navbar-toggle" ng-click="nav.navbarCollapsed = !nav.navbarCollapsed">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				 <a class="navbar-brand" href="http://localhost:8080/index.html#/physiciannavigation"><img
					src="images/logo.png" alt="Patient Portal Logo" /></a>  
					<h2 id="nav-title"><b><i class="fa fa-heartbeat"></i>Physician Portal</b></h2>
			</div>
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" ng-click="nav.userbarCollapsed = !nav.userbarCollapsed">
						<i class="fa fa-user"></i><span class="text-capitalize"> {{phynav.firstname}}&nbsp;&nbsp;{{phynav.lastname}}</span> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu" uib-collapse="nav.userbarCollapsed">
						<li><a ng-click="nav.gotoprofile();"><i class="fa fa-fw fa-user"></i> Profile</a></li>
						<li class="divider"></li>
						<li><a ng-click="nav.gotoinbox();"><i class="fa fa-fw fa-envelope"></i>Inbox</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-power-off"></i> LogOut</a></li>
					</ul>
				</li>
			</ul>
			<div class="collapse navbar-collapse" uib-collapse="nav.navbarCollapsed">
				<ul class="nav navbar-nav side-nav">
					<li><a ng-click="phynav.gotophysicianhome();"><i class="fa fa-home"> HOME  </i></a></li>
                 
                 
					 
				  <li><a ng-click="phynav.gotoallappointments();"><i class="fa  fa-calendar"> APPOINTMENTS  </i></a></li>
				
	              <li><a ng-click=""><i class="fa fa-tasks"> TASKS </i></a></li>
	              
	              <li><a ng-click=""><i class="fa fa-file"> CHARTS</i></a></li>
	              	 
	              <li><a ng-click=""><i class="fa fa-envelope"> MESSAGES  </i></a></li>
	              	 	 
	              <li><a ng-click=""><i class="fa fa-bar-chart"> REPORTS</i></a></li>
	             </ul>
	             </div>
	             
			</nav>
			 
		<div class="container pull-left">
			<div class="row">
				<div ui-view="physiciannavigation"></div>
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>

	</div>
