<!-- <div class="physicianhome">
<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">APPPOINTMENTS</h1>
				<ol class="breadcrumb">
					<li><a href="#"> <i class="fa  fa-calendar" aria-hidden="true"></i>
							 APPOINTMNETS
					</a></li>
					
				</ol>
			</div>
		</div>
<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="View Appointments" is-open="true">
	<div class="panel-body">
				</br>
				<div class="row">
			<div class="col-lg-8">
				<div class="form-group">
					<label for=""> <strong> Select date </strong></label> <select
						class="text-capitalize form-control" name="id"
						ng-model="pac.id"
						ng-change="uc.getappointment(ucgu.id)">
						<option ng-repeat="ucgu in pac.getappointments"
							value="{{ucgu.id}}">{{ucgu.appointmentDate}}</option>
					</select>
				</div>
			</div>
		</div>
</div>
<div ng-show="pac.userProfile"> 
				<div class="row">
						<div class="col-lg-12">
						<h3 class="title">User Information</h3>
						</div>
						
							<div class="col-lg-4">
							<div class="form-group">
								<label for="">First Name</label> <input type="text"
									class="text-capitalize form-control" />
									<p class="text-capitalize">{{pac.userProfile.firstName}}</p>
						</div>
						
						
</div>
</div>
</div>
</div>
</uib-accordion>
</div>
</div>

 -->
 
 <div id="page-wrapper">

	<div class="container-fluid">
	
	<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Appointments</h1>
				<ol class="breadcrumb">
					<li><a href="#"> <i class="fa fa-home" aria-hidden="true"></i>
							Appointments
					</a></li>
					<li class="active"><i class="fa fa-certificate"></i> Appointments
						</li>
				</ol>
			</div>
		</div>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="View Appointments" is-open="true">
	<div class="panel-body">
				</br>
				<div class="row">
			<div class="col-lg-8">
				<div class="form-group">
					<label for=""> <strong> Select Appointment </strong></label> <select
						class="text-capitalize form-control" name="Id"
						ng-model="pac.id"
						ng-change="pac.getappointment(ucgu.id)">
						<option ng-repeat="ucgu in pac.getappointments"
							value="{{ucgu.id}}">{{ucgu.patientDto.firstName}} {{ucgu.patientDto.lastName}}</option>
					</select>
				</div>
			</div>
		</div>
		<div ng-show="pac.userProfile"> 
				<div class="row">
						<div class="col-lg-12">
						<h3 class="title">User Information</h3>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for=""> First Name</label>
								<p class="text-capitalize">{{pac.userProfile.patientDto.firstName}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Last Name</label>
								<p class="text-capitalize">{{pac.userProfile.patientDto.lastName}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Appointment Date</label>
								<p class="text-capitalize">{{pac.userProfile.appointmentDate}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Appointment Reason</label>
								<p class="text-capitalize">{{pac.userProfile.appointmentReason}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Appointment Time</label>
								<p>{{pac.userProfile.appointmentTime}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Appointment Type</label>
								<p class="text-capitalize">{{pac.userProfile.appointmentType}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Gender</label>
								<p>{{pac.userProfile.patientDto.gender}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">MRN</label>
								<p class="text-capitalize">{{pac.userProfile.patientDto.mrn}}</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="">Phone Number</label>
								<p>{{pac.userProfile.patientDto.phoneNumber}}</p>
							</div>
						</div>
						
				</div>
				</div>
				</div>
				</div>
	
		</div>
		</div>