<div class="myclass"> 
<div id="page-wrapper">

	<div class="container-fluid">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Profile</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.firstName}}" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Last Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.lastName}}" class="form-control input-md">
    
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Gender</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.gender}}" class="form-control input-md">
    
  </div>
</div>
<!-- Select Basic -->
<div class="form-group">
    <label class="control-label col-md-4" for="registration-date">Date of Birth:</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.dob}}" class="form-control input-md">   
    </div>    
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address 1</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.address1}}" class="form-control input-md">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address 2</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.address2}}" class="form-control input-md">
    
  </div>
</div>





<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">City</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.city}}" class="form-control input-md">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">State</label>
  <div class="col-md-4">                     
    <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.state}}" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Country</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.country}}" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">ZIP</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.contactinfo.zip}}" class="form-control input-md">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">mrn</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.mrn}}" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone Number</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="{{pc.profileinfo.phoneNumber}}" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->


</fieldset>
</form>
</div>
</div>
</div>