<div class="myclass"> 

<div id="page-wrapper">

	<div class="container-fluid">
<div class="row">
				<div class="col-lg-12">
					 <h1 class="page-header">Results</h1>
					<ol class="breadcrumb">
						<li><a href=""> <i class="" aria-hidden="true"></i>
							
						</a></li>
						
					</ol>
				</div>
				</div>
				
	<div class="row">
     
		  <div class ="col-lg-12">
				      <div class = "col-lg-12   round2">
				            <div class = "col-lg-3 col-sm-offset-1">
				                  <p><b>Results</b></p>
				            </div>
					       <button class = "col-lg-3 round2" style= "background-color:#cccccc;">
					              <p>Add Result<span class="glyphicon glyphicon-plus"></span></p>
					       </button>
					       <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Collapse All </p>
					       </button>
					        <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Send </p>
					       </button>
   
    
                      </div>
          </div>
    </div>				
				
	 <div class=""></br>
             </br>
    </div>	
    
    <table class="table">
    <thead>
      <tr>
        <th>Appointment Id</th>
        <th>Date</th>
        <th>Result</th>
        <th>Value</th>
        <th>Provider</th>
        <th>Source</th>
        <th>Range</th>
        <th>options</th>
        </tr>
    </thead>
    <tbody>
   <tr>
        <td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.patientAppointmentId" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultDetails" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultValue" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultProvider" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultSource" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="mobile"
									ng-model="Rc.results.resultRange" />
							</div></td>
							<td><button>Save</button> 
								<button>Remove</button>
							</td>
    		
				</div>
				</div>
				</div>