<div class="container">
	<div class="row">
		<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for PatientPortal <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="sign.Userinfo.firstName">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="sign.Userinfo.lastName">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="sign.Userinfo.email">
			    			</div>
			    			<div class="form-group">
			    				<input type="dob" name="dob" id="dob" class="form-control input-sm" placeholder="DOB" ng-model="sign.Userinfo.dob">
			    			</div>

			    			<div class="row">
			    				
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="username" name="username" id="username" class="form-control input-sm" placeholder="username" ng-model="sign.Userinfo.userName">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="sign.Userinfo.password">
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
				<div class='col-sm-6'>	
						<form name="myForm">
							<label for="repeatSelect"> Select User Type: </label>
    							<select name="userType" id="select userType" ng-model="sign.Userinfo.userType">
      								<option>PHYSICIAN</option>
      								<option>PATIENT</option>
      								      
    							</select>
  						</form>
			</div>
			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block" ng-click="sign.createuser();">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
    <div class="row" style=" text-align: center; height: 60px;">
						<flash-message show-close="true"></flash-message>
					</div>
	</div>
	
	
</div>