<div class="myclass"> 

<div id="page-wrapper">

	<div class="container-fluid">
<div class="row">
				<div class="col-lg-12">
					 <h1 class="page-header">Vitals</h1>
					<ol class="breadcrumb">
						<li><a href=""> <i class="" aria-hidden="true"></i>
							
						</a></li>
						
					</ol>
				</div>
				</div>
				
	<div class="row">
     
		  <div class ="col-lg-12">
				      <div class = "col-lg-12   round2">
				            <div class = "col-lg-3 col-sm-offset-1">
				                  <p><b>Vitals</b></p>
				            </div>
					       <button class = "col-lg-3 round2" style= "background-color:#cccccc;">
					              <p>Add <span class="glyphicon glyphicon-plus"></span></p>
					       </button>
					       <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Collapse All </p>
					       </button>
					        <button class = "col-lg-2 round2" style= "background-color:#cccccc;">
					              <p>Send </p>
					       </button>
   
    
                      </div>
          </div>
    </div>				
				
	 <div class ="row">
	 <div class ="col-lg-12">
     <table class="table">
    <thead>
      <tr>
        <th><uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading={{vcc.vitalinfo[0].vitalName}} is-open="false">
				<table class="table">
				<thead>
				<tr>
				<th>Date</th>
				<th>Value</th>
				<th>Name</th>
				</thead>
				<tbody>
				 <tr>
        <td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Date"
									ng-model="vcc.vitalinfo[0].vitalDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="value"
									ng-model="vcc.vitalinfo[0].vitalValue" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Source"
									ng-model="vcc.vitalinfo[0].vitalName" />
							</div></td>
				
				</tr>
				
				</tbody>
				
				</table>
    </div>
    </uib-accordion>
    </th>
    </tr>
    </thead>
    </table>
    </div>
    </div>
     <div class ="row">
	 <div class ="col-lg-12">
     <table class="table">
    <thead>
      <tr>
        <th><uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="Appointment" is-open="false">
				<table class="table">
				<thead>
				<tr>
				<th>Date</th>
				<th>Reason</th>
				<th>Status</th>
				</thead>
				<tbody>
				<tr>
				<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Date"
									ng-model="vcc.vitalinfo[0].appointmentDto.appointmentDate" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Reason"
									ng-model="vcc.vitalinfo[0].appointmentDto.appointmentReason" />
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Date"
									ng-model="vcc.vitalinfo[0].appointmentDto.appointmentStatus" />
							</div></td>
				
				</tr>
				
				
				</tbody>
				
				
				</table>
    </div>
    </uib-accordion>
    </th>
    </tr>
    </thead>
    </table>
    </div>
    </div>
     <div class ="row">
	 <div class ="col-lg-12">
     <table class="table">
    <thead>
      <tr>
        <th><uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="Physician" is-open="false">
				<table class="table">
				<thead>
				<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th>Specialization</th>
				</thead>
				
    
   
				<tbody>
				<tr>
				<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Name"
									ng-model="vcc.vitalinfo[0].appointmentDto.physicianDto.firstName"/>
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Name"
									ng-model="vcc.vitalinfo[0].appointmentDto.physicianDto.lastName"/>
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Number"
									ng-model="vcc.vitalinfo[0].appointmentDto.physicianDto.workPhoneNumber"/>
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Email"
									ng-model="vcc.vitalinfo[0].appointmentDto.physicianDto.email"/>
							</div></td>
							<td> <div class="form-group">
								 <input type="text"
									class="form-control" name="Specialization"
									ng-model="vcc.vitalinfo[0].appointmentDto.physicianDto.specialization"/>
							</div></td>
    </tr>
    </tbody>
  
    </table>
    </div>
    </div>
    
    
    
   
   </div>
    </div>
    </div>