    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="4-Serv Solutions" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{pi.employeeObj.employeeFirstName}} {{pi.employeeObj.empLastName}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="app/views/dashboard.view.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                  
                    <li  class="active">
                        <a href="#"><i class="fa fa-users"></i> Personal Information</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-table"></i> Timesheets</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money" aria-hidden="true"></i> Expenses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wpforms" aria-hidden="true"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-inbox" aria-hidden="true"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-certificate" aria-hidden="true"></i> Training/Education <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Personal Information 
                        </h1>
                        <ol class="breadcrumb">
							<li><a href="#"> <i class="fa fa-home" aria-hidden="true"></i>
 Home</a></li>
                            <li class="active">
                                <i class="fa fa-user"></i> Personal Information 
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

               
                <!-- /.row -->

               <div class="row">
				<div class="col-lg-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Change Details
		  
		  <span class="down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		  <span class="up-arrow"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

 		<div class="row">
			<div class="col-lg-12">
				<h3 class="title">Home Address</h3>
			</div>

			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address1</label>
					<input type="text" class="form-control"  name="address1" ng-model= "pi.employeeObj.contactInfoList[0].adress1"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address2</label>
					<input type="text" class="form-control" name="address2" ng-model="pi.employeeObj.contactInfoList[0].adress2"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">City</label>
					<input type="text" class="form-control" name="city" ng-model=" pi.employeeObj.contactInfoList[0].city"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">State</label>
					<input type="text" class="form-control" name="state" ng-model="pi.employeeObj.contactInfoList[0].state"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Zipcode</label>
					<input type="text" class="form-control" name="zipcode" ng-model="pi.employeeObj.contactInfoList[0].zipcode"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Mobile</label>
					<input type="text" class="form-control" name="mobile" ng-model="pi.employeeObj.contactInfoList[0].phoneNumber"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Email</label>
					<input type="text" class="form-control" name="email" ng-model="pi.employeeObj.contactInfoList[0].email"/>
				</div>
			</div>
			
			<div class="col-lg-12">
				<hr />
				<h3 class="title">Work Address</h3>
			</div>
			
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address1</label>
					<input type="text" class="form-control"  name="address1" ng-model= "pi.employeeObj.contactInfoList[1].adress1"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address2</label>
					<input type="text" class="form-control" name="address2" ng-model="pi.employeeObj.contactInfoList[1].adress2"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">City</label>
					<input type="text" class="form-control" name="city" ng-model=" pi.employeeObj.contactInfoList[1].city"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">State</label>
					<input type="text" class="form-control" name="state" ng-model="pi.employeeObj.contactInfoList[1].state"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Zipcode</label>
					<input type="text" class="form-control" name="zipcode" ng-model="pi.employeeObj.contactInfoList[1].zipcode"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Mobile</label>
					<input type="text" class="form-control" name="mobile" ng-model="pi.employeeObj.contactInfoList[1].phoneNumber"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Email</label>
					<input type="text" class="form-control" name="email" ng-model="pi.employeeObj.contactInfoList[1].email"/>
				</div>
			</div>
				<div class="col-lg-12">
					<hr />
					<h3 class="title">Emergency Contacts</h3>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
						<label for="">First Name</label>
						<input type="text" class="form-control" name="first_name" ng-model="pi.employeeObj.emergencyContactList[0].firstName"/>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="">Last Name</label>
						<input type="text" class="form-control" name="last_name" ng-model="pi.employeeObj.emergencyContactList[0].lastName"/>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Email</label>
					<input type="text" class="form-control" name="email"  ng-model="pi.employeeObj.emergencyContactList[0].email"/>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Mobile</label>
					<input type="text" class="form-control" name="mobile" ng-model="pi.employeeObj.emergencyContactList[0].mobile"/>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Relation</label>
					<input type="text" class="form-control" name="relation" />
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Adress1</label>
					<input type="text" class="form-control" name="adress1" ng-model="pi.employeeObj.emergencyContactList[0].address1"/>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Adress2</label>
					<input type="text" class="form-control" name="adress2" ng-model="pi.employeeObj.emergencyContactList[0].address2"/>
				</div>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">City</label>
					<input type="text" class="form-control" name="City" ng-model="pi.employeeObj.emergencyContactList[0].city"/>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">State</label>
					<input type="text" class="form-control" name="state" ng-model="pi.employeeObj.emergencyContactList[0].state"/>
				</div>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Zipcode</label>
					<input type="text" class="form-control" name="zipcode" ng-model="pi.employeeObj.emergencyContactList[0].zipcode"/>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Work Phone</label>
					<input type="text" class="form-control" name="work_phone" ng-model="pi.employeeObj.emergencyContactList[0].mobile/>
				</div>
				</div>
				
				<div class="col-lg-12">
				<div class="btn-group">
				
					<button type="submit" class="btn primary" ng-click= "updateUser()"
					>Update</button>
					<button type="reset" class="btn secondary">Reset</button>
				</div>
				
				</div>
				
			
			
		
		</div>
	   
	   
	   
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          View Details
		   <span class="down-arrow pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		   <span class="up-arrow pull-right"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
			<div class="col-lg-12">
				<h3 class="title">Home Address</h3>
			</div>

			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address1</label>
					<p>Lorem ipsum dolor</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Address2</label>
					<p>Lorem ipsum dolor sit mit</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">City</label>
					<p>Lorem</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">State</label>
					<p>Lorem ipsum </p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Zipcode</label>
					<p>345678</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Mobile</label>
					<p>678 648 6069</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="">Email</label>
					<p>Lorem@ipsum.com</p>
				</div>
			</div>
			
			<div class="col-lg-12">
				<hr />
				<h3 class="title">Work Address</h3>
			</div>
			
				<div class="col-lg-4">
					<div class="form-group">
						<label for="">Address1</label>
						<p>Lorem ipsum dolor</p>
					</div>
				</div>			
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">Address2</label>
					<p>Lorem ipsum</p>
				</div>
				</div>	
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">City</label>
					<p>Lorem</p>
				</div>
				</div>	
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">State</label>
					<p>Lorem ipsum dolor</p>
				</div>
				</div>	
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">Zipcode</label>
					<p>435678</p>
				</div>
				</div>	
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">Phone</label>
					<p>876 567 4556</p>
				</div>
				</div>	
				<div class="col-lg-4">
					<div class="form-group">
					<label for="">Email</label>
					<p>Lorem@iosum.com</p>
				</div>
				</div>	
				
				<div class="col-lg-12">
					<hr />
					<h3 class="title">Emergency Contacts</h3>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
						<label for="">First Name</label>
						<p>Lorem</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="">Last Name</label>
						<p>Ipsum</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Email</label>
					<p>Lorem@ipsum.com</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Mobile</label>
					<p>567 767 8899</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Relation</label>
					<p>Lorem</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Adress1</label>
					<p>Lorem ipsum dolor</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Adress2</label>
					<p>Lorem ipsum</p>
				</div>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">City</label>
					<p>Lorem</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">State</label>
					<p>Lorem ipsum</p>
				</div>
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Zipcode</label>
					<p>345678</p>
				</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
					<label for="">Work Phone</label>
					<p>899 677 5676</p>
				</div>
				</div>
				
				
			
			
		
		</div>
      </div>
    </div>
  </div>
  
</div>
				
				</div>
			   
			   </div>
               
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>